[Unit]
Description=Infrared Proxy Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/ubuntu/Infrared
ExecStart=/home/ubuntu/Infrared-systemd/infrared
Restart=allways

[Install]
WantedBy=multi-user.target
