[Unit]
Description=Infrared Proxy Service
After=network.target

[Service]
Type=simple
ExecStart=/home/ubuntu/Infrared-systemd/infrared
Restart=on-failure

[Install]
WantedBy=multi-user.target
